/* body {
	display: grid;
	grid-template-columns: 2fr 8fr;
	font-family: 'Roboto' , sans-serif;
}

.sidebar {
  width: 200px;
  margin: 20;
  padding: 20;
	border-right: 1px solid #ddd;
  ;
}
.detail {
  padding: 20px;
  flex-grow: 1;
	text-align: center
}
 li {
	padding: 20px;
 border-bottom: 1px solid #ddd;
 cursor: pointer;
 list-style: none;
} */

body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
	background-color: #1abc9c; /* Green */
	color: #ffffff;
}
.bg-2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
.bg-3 {
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}
.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

.btn {
	text-align: center;
	background-color: red;
}
