body {
	display: grid;
	grid-template-columns: 2fr 8fr;
	font-family: 'Roboto' , sans-serif;
}

.sidebar {
  width: 200px;
  margin: 20;
  padding: 20;
	border-right: 1px solid #ddd;
  ;
}
.detail {
  padding: 20px;
  flex-grow: 1;
	text-align: center
}
 li {
	padding: 20px;
 border-bottom: 1px solid #ddd;
 cursor: pointer;
 list-style: none;
}
